body{
	background-color: rgba(25,100,100,0.4);
}
#results{
	width: 80%;
	height: auto;
	background-color: rgba(120,120,120,0.9);
	float: left;
}
audio{
	width: 100%;
}
.cleared{
	clear: both;
}
.element{
	border: 1px solid black;
}
.contImg{
	text-align: center;
}
.img{
	display: inline-block;
	height: 100px;
}
.favorite{
	display: block;
	margin: 5px auto;
}
#favorites{
	float: right;
	width: 20%;
	background-color: rgba(100,100,100,0.8);
}
.buttons{
	clear: both;
}
li{
	height: 50px;
}
.frame{
	display: block;
	margin: 0 auto;
}
#favorites div{
	width: auto;
}
#favorites div ul li{
	height: 20px;
}
.buttonRemove{
	height: 17px;
	padding: 0;
	float: right;
}
@media only screen and (max-width: 500px) {
  .element {
    width: 90%;
    margin: 10px 5%;
    background-color: rgba(200,10,10,0.4);
  }
}
@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .element {
  	float: left;
    width: 47.3%;
    margin: 10px 1%;
    background-color: rgba(200,10,10,0.4);
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1250px) {
  .element {
  	float: left;
    width: 31%;
    margin: 10px 1%;
    background-color: rgba(200,10,10,0.4);
  }
}
@media only screen and (min-width: 1250px) {
  .element {
  	float: left;
    width: 22.5%;
    margin: 10px 1%;
    background-color: rgba(200,10,10,0.4);
  }
}